---
import Layout from "../layouts/Layout.astro";
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
export const prerender = false;
---

<Layout title="Board | Kenilworth Park Neighborhood Association">
  <section>
    <h1>Board</h1>
  </section>
</Layout>
