---
import Layout from "../layouts/Layout.astro";
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
export const prerender = false;
---

<Layout title="Board">
  <section>
    <h3>Board</h3>
  </section>
</Layout>
