---
import Layout from "../layouts/Layout.astro";
import BoardMember from "../components/BoardMember.astro";

import { getBoard } from "../utils/sanity";
const board = await getBoard();
const members = board[0].members;

export const prerender = false;
---

<Layout title="Board">
  <section>
    <!-- <h3>Board</h3> -->
    <div class="members">
      { members.map((member:any) => <BoardMember photo={member.photo} name={member.name} position={member.title} contact={member.email} />) }
    </div>
  </section>
</Layout>

<style>
.members {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5vh 5%;
  margin-bottom: 14em;
}
</style>