---
import Layout from "../layouts/Layout.astro";
import { getEvents } from "../utils/sanity";
const content = await getEvents();
export const prerender = false;
---

<Layout title="Events">
  <section>
    <h1>Events</h1>
  </section>
</Layout>
