---
import Layout from "../layouts/Layout.astro";
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
export const prerender = false;
---

<Layout title="Kenilworth Park Neighborhood Association">
  <section>
    <h1>Home</h1>
  </section>
  <section id="contact">
    <h3>Contact the Board: KPNAinc@gmail.com</h3>
  </section>
</Layout>

<style>
  #contact {
    margin: 0 auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>