---
import { PortableText } from "astro-portabletext";
import { urlFor } from "../utils/image";
import { Image } from 'astro:assets';

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { getHome } from "../utils/sanity";
const content = await getHome();

const images = content[0].images;
let random = Math.floor(Math.random() * (images.length));
const image = images[random];

export const prerender = false;
---

<Layout title="Home">
  <section id="welcome">
    <div class="welcome-text">
      <PortableText value={content[0].welcome} />
    </div>
    <div class="welcome-image">
      <Image
        src={urlFor(image).width(image.width).height(image.height).url()}
        alt='Kenilworth Park'
        width={image.width}
        height={image.height} />
    </div>
  </section>
  <section id="buttons">
    <Button text="Community History" link="/history" />
    <Button text="Events Calendar" link="/events" />
    <Button text="Find Resources" link="/resources" />
    <Button text="Meet the Board" link="/board" />
  </section>
  <section id="contact">
    <h3>Contact the Board: <a href="mailto:KPNAinc@gmail.com">KPNAinc@gmail.com</a></h3>
  </section>
</Layout>

<style>
  #welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8vh;
    margin-top: 2vh;
  }
  #welcome div {
    width: 45%;
  }
  /* .welcome-image {
    display: flex;
    justify-content: flex-end;
  } */
  .welcome-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 !important;
  }

  @media (max-width: 1000px) {
    #welcome div {
      width: 100%;
    }
    .welcome-text {
      margin-bottom: 2em;
    }
  }

  #buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #contact {
    margin: 0 auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
</style>
<style is:inline>
  .welcome-text p {
    line-height: 1.5em;
  }
  .btn {
    min-width: 25%;
  }
  @media (min-width: 1400px) {
    .btn {
      min-width: 35%;
    }
  }
</style>