---
import Layout from "../layouts/Layout.astro";
import { getHome } from "../utils/sanity";
const content = await getHome();

const images = content[0].images;
let random = Math.floor(Math.random() * (images.length));
const image = images[random];

import { urlFor } from "../utils/image";
import { Image } from 'astro:assets';

export const prerender = false;
---

<Layout title="Kenilworth Park Neighborhood Association">
  <section id="welcome">
    <div class="welcome-text">
      <p>{content[0].welcome}</p>
    </div>
    <div class="welcome-image">
      <Image
        src={urlFor(image).width(image.width).height(image.height).url()}
        alt='Kenilworth Park'
        width={image.width}
        height={image.height} />
    </div>
  </section>
  <section id="buttons">
    <a class="btn" href="/history">Community History</a>
    <a class="btn" href="/events">Events Calendar</a>
    <a class="btn" href="/resources">Find Resources</a>
    <a class="btn" href="/board">Board Member Info</a>
  </section>
  <section id="contact">
    <h3>Contact the Board: <a href="mailto:KPNAinc@gmail.com">KPNAinc@gmail.com</a></h3>
  </section>
</Layout>

<style>
  #welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8vh;
    margin-top: 2vh;
  }
  #welcome div {
    width: 47%;
  }
  .welcome-text p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .welcome-image {
    display: flex;
    justify-content: flex-end;
  }
  .welcome-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  @media (max-width: 1000px) {
    #welcome div {
      width: 100%;
    }
    .welcome-text {
      margin-bottom: 2em;
    }
  }

  #buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .btn {
    text-align: center;
    text-decoration: none;
    border: 3px solid var(--primary);
    border-radius: 100px;
    width: 40%;
    min-width: 200px;
    justify-self: center;
    padding: 1em;
    margin: 1em;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary);
    box-shadow: 5px 5px 0px var(--gray);
    transition: all .5s ease;
  }
  .btn:hover {
    background-color: var(--primary-dark);
    color: var(--gray-light);
  }
  .btn:active {
    background-color: var(--primary);
    box-shadow: 2px 2px 0px var(--gray);
  }

  @media (max-width: 1200px) {
    .btn {
      width: 80%;
    }
  }

  #contact {
    margin: 0 auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
</style>