---
import Layout from "../layouts/Layout.astro";
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
export const prerender = false;
---

<Layout title="Resources">
  <section>
    <h3>Resources</h3>
  </section>
</Layout>
