---
import Layout from "../layouts/Layout.astro";
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
export const prerender = false;
---

<Layout title="Resources | Kenilworth Park Neighborhood Association">
  <section>
    <h1>Resources</h1>
  </section>
</Layout>
