---
---

<header class="header">
  <h1 class="title">Kenilworth Park</h1>
  <h2 class="subtitle">Neighborhood Association</h2>
  <p class="tagline">Kenilworth Park...A neighborhood <strong>WORTH</strong> caring about.</p>
</header>

<style>
  .header {
    text-align: center;
    margin: 2.5em auto;
  }
  .title {
    font-size: 2.5em;
    line-height: 0em;
  }
  .subtitle {
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  .tagline {
    font-size: 1.1em;
  }

  @media (max-width: 800px) {
    .title {
      font-size: 2em;
    }
    .subtitle {
      font-size: 1.3em;
    }
    .tagline {
      font-size: 1em;
    }
  }
</style>