---
---

<header class="header">
  <h1 class="title">Kenilworth Park</h1>
  <p>A neighborhood <strong>WORTH</strong> caring about.</p>
</header>

<style>
  .header {
    text-align: center;
    margin: 4em auto;
  }
  .title {
    font-size: 3em;
    line-height: 1em;
    color: var(--primary);
  }
</style>