---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<nav class="nav" tabindex="0">
  <ul class="nav-menu">
    <li class="menu-item"><a href="/" class={currentPath === "" ? "active" : ""}>Home</a></li>
    <li class="menu-item"><a href="/history" class={currentPath === "history" ? "active" : ""}>History</a></li>
    <li class="menu-item"><a href="/events" class={currentPath === "events" ? "active" : ""}>Events</a></li>
    <li class="menu-item"><a href="/resources" class={currentPath === "resources" ? "active" : ""}>Resources</a></li>
    <li class="menu-item"><a href="/board" class={currentPath === "board" ? "active" : ""}>Board</a></li>
    <li class="menu-item"><a href="/contact" class={currentPath === "contact" ? "active" : ""}>Contact</a></li>
  </ul>
</nav>

<style>
  .nav {
    padding: 1.4em 100px;
    border-top: 3px solid var(--primary-light);
    border-bottom: 3px solid var(--primary-light);
    font-size: .9em;
  }
  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
  }
  .menu-item a:hover {
    color: var(--secondary);
  }
  .menu-item a.active {
    color: var(--secondary-dark);
  }
</style>