---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
import { SEO } from "astro-seo";
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import MobileNav from '../components/MobileNav.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      description="The Kenilworth Park Neighborhood Association connects residents and neighbors with updates, resources, and events that support a vibrant, engaged community. Discover what makes Kenilworth Park a great place to live and visit."
      openGraph={{
        basic: {
          title: "Kenilworth Park Neighborhood Association",
          type: "website",
          image: "/ogimg.png",
        }
      }}
    />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Umami Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="7bb74312-78a6-4115-b7a1-dc6e30affdee"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <title>{title} | Kenilworth Park Neighborhood Association</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="mobilenav"><MobileNav /></div>
    <div class="container">
      <Header />
      <div id="regularnav"><Navigation /></div>
      <div id="mobileseparator"></div>
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin: 2em 5em 0;
    /* margin-top: 2em; */
  }

  #mobileseparator {
    margin: 0 auto;
    width: 90%;
    height: 0;
    border-bottom: 3px solid var(--primary-light);
  }

  @media (max-width: 1000px) {
    .container {
      padding: 0 20px;
    }
    main {
      width: 80%;
      margin: 2em auto;
    }
  }
  @media (max-width: 500px) {
    .container {
      padding: 0;
    }
  }

  @media (min-width: 800px) {
    #mobilenav, #mobileseparator {
      display: none;
    }
  }
  @media (max-width: 800px) {
    #regularnav {
      display: none;
    }
  }

</style>

<style is:global>
  :root {
    --white: #fff;
    --black: #101112;
    --primary: #004aad;
    --primary-light: #80a5d6;
    --primary-dark: #003479;
    --secondary: #954827;
    --secondary-light: #ba5a31;
    --secondary-dark: #5d2d19;
    --gray: #d7cdcc;
    --gray-light: #eeebe7;

    --font-primary: 'Lato', sans-serif;
    --font-display: 'Lora', serif;
  }

  html {
    background-color: var(--gray-light);
    font-family: var(--font-primary);
    color: var(--primary-dark);
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: 400;
    color: var(--primary);
  }
</style>
