---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import MobileNav from '../components/MobileNav.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <title>{title} | Kenilworth Park Neighborhood Association</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="mobilenav"><MobileNav /></div>
    <div class="container">
      <Header />
      <div id="regularnav"><Navigation /></div>
      <div id="mobileseparator"></div>
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin: 0 100px;
    margin-top: 45px;
  }

  #mobileseparator {
    margin: 0 auto;
    width: 80%;
    height: 0;
    border-bottom: 3px solid var(--primary-light);
  }

  @media (max-width: 1000px) {
    .container {
      padding: 0 20px;
    }
    .main {
      margin: 0;
    }
  }
  @media (max-width: 500px) {
    .container {
      padding: 0;
    }
  }

  @media (min-width: 800px) {
    #mobilenav, #mobileseparator {
      display: none;
    }
  }
  @media (max-width: 800px) {
    #regularnav {
      display: none;
    }
  }

</style>

<style is:global>
  :root {
    --white: #fff;
    --black: #101112;
    --primary: #004aad;
    --primary-light: #80a5d6;
    --primary-dark: #003479;
    --secondary: #954827;
    --secondary-light: #ba5a31;
    --secondary-dark: #5d2d19;
    --gray: #d7cdcc;
    --gray-light: #eeebe7;

    --font-primary: 'Lato', sans-serif;
    --font-display: 'Lora', serif;
  }

  html {
    background-color: var(--gray-light);
    font-family: var(--font-primary);
    color: var(--primary-dark);
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: 400;
    color: var(--primary);
  }
</style>
